@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&family=Poppins&family=Spectral:wght@400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@font-face {
  font-family: "Quiet-Sans";
  src: url("../../public/fonts/Quiet-Sans.otf") format("opentype");
}
@font-face {
  font-family: "Dancing Script";
  src: url("../../public/fonts/static/DancingScript-Medium.ttf") format("opentype");
}

body {
  background: linear-gradient(to bottom, #ecbaa3, #c0c5f0, #ecbaa3);
  font-family: "Quiet-Sans";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #230b59;
}
p {
  color: #230b59;
}
@layer components {
  .risklevel-bg {
    border-radius: 50px;
    background-image: url("../assets/jpg/risklevel-img.jpg"); /* Replace 'your-image.jpg' with the actual image file name */
    background-size: cover;
    height: 10vh;
    background-repeat: no-repeat;
  }
  .progress-bar {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
  }

  .progress {
    height: 100%;
    background-color: #007bff; /* Change to your desired color */
  }
}
