@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, #ecbaa3, #c0c5f0,#ecbaa3,#f7e9e2 );
}
@layer components {
  .risklevel-bg {
    border-radius: 50px;
    background-image: url("../assets/jpg/risklevel-img.jpg"); /* Replace 'your-image.jpg' with the actual image file name */
    background-size: cover;
    height: 20vh;
    background-repeat: no-repeat;
  }
  .progress-bar {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
  }

  .progress {
    height: 100%;
    background-color: #007bff; /* Change to your desired color */
  }
}
