@tailwind base;
@tailwind components;
@tailwind utilities;





body{
    background: #d1c1d3;
}
@layer components{
    .risklevel-bg {
       border-radius: 50px;
        background-image: url('../assets/jpg/risklevel-img.jpg'); /* Replace 'your-image.jpg' with the actual image file name */
        background-size: cover;
        height: 20vh;
        background-repeat: no-repeat;
      }
      
}
